<div class="page-header">
	<h1>Éditer un dix : <%= @month.startdate.strftime("%B %Y") %></h1>
</div>


<%= form_for(@month) do |f| %>
	<% if @month.errors.any?  %>
		<div class="alter alert-danger">
			<strong>
				Il y a
				<%= pluralize(@month.errors.count, "erreur") %>
				dans votre soumission :
				<%= debug params  %>
			</strong>
			<ul>
				<% @month.errors.full_messages.each do |msg|  %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :title, "Titre" %>
		<%= f.text_field :title, value: @month.title, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :message, "Texte" %>
		<%= f.text_field :message, value: @month.message, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
