<div class="page-header">
	<h1>Tous les « 10 » de tous les mois</h1>
</div>

<ul id="all-months">
	<% @months.each do |m|  %>
		<li>
			<%= link_to  m.startdate.strftime("10 %B %Y"), m%>
		</li>
	<% end %>
</ul>
