<div class="page-header">
	<h1>Le <span class="le-dix">dix</span>  <%=  @month.startdate.strftime("%B, %Y") %></h1>
</div>

<div class="the-drawings">
	<% @month.drawings.each do |d|  %>
		<div class="a-drawing">
			<%= image_tag d.picture.url(:medium) %>
			<div class="caption">
				<%= d.title %> par
				<span class="firstname"><%= d.user.firstname %></span>
				<span class="lastname"><%= d.user.lastname %></span>
			</div>
		</div>
	<% end %>
	

</div>
