<div class="page-header">
  Tous les dessins
</div>

<ul id="all-drawings">
  <% @drawings.each do |drawing| %>
	  <li>
		  <%= drawing.title %>
		  <span class="drawing-filename"><%= drawing.filename %></span>
	  </li>
  <% end  %>
</ul>
