<div class=" page-header">
	Publier un dessin
</div>

<%= form_for(@drawing) do |f| %>
	<% if @drawing.errors.any? %>
		<div class="alert alert-danger">
			<strong>
				Il y a
				<%= pluralize(@drawing.errors.count, "erreur") %>
				dans votre soumission :
				<%= debug params  %>
			</strong>
			<ul>
				<% @drawing.errors.full_messages.each do |msg|  %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :picture, "Le dessin" %>
		<%= f.file_field :picture %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end  %>
