<div class="page-header">
	<h1>Un dessin de <span class="firstname"><%= @drawing.user[:firstname] %></span> <%= @drawing.user[:lastname] %></h1>
</div>

<div class="dix-date">
	<% if @drawing.month %>
		<%= @drawing.month[:startdate].strftime("Le dix %B %y")  %>
	<% end %>
</div>

<div class="full-drawing">
	<%= image_tag @drawing.picture.url(:large), alt: @drawing.title  %>
	<div class="caption"><%= @drawing.title %></div>
</div>

