<div class="page-header">
	Édition d'un profil utilisateur | <%= @user.firstname %> <%= @user.lastname %>
</div>

<%= form_for(@user) do |f| %>
	<% if @user.errors.any?  %>
		<div class="alert alert-danger">
			<strong>
				<%= pluralize(@user.errors.count, "erreur") %> empêche(nt) la création du compte:
			</strong>
			<ul>
				<% @user.errors.full_messages.each do |msg|  %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :email, "Mail" %>
		<%= f.email_field :email, value: @user.email ,class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :firstname, "Prénom" %>
		<%= f.text_field :firstname, value: @user.firstname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :lastname, "Nom de famille" %>
		<%= f.text_field :lastname, value: @user.lastname, class: "form-control" %>
	</div>
	<div class="form-show-picture">
		<%= image_tag @user.avatar.url(:thumb) %>
	</div>
	<div class="form-group">
		<%= f.label :portrait, "Portrait" %>
		<%= f.file_field :avatar %>
	</div>
	<% if @current_user.privilege == "admin" %>
		<div class="form-group">
			<%= f.label :privilege, "Type de dessinateur : " %><br />
			<%= f.radio_button :privilege, "normal", :checked => true %>
			<%= f.label :privilege, "Dessinateur", :value => "normal" %>
			<%= f.radio_button :privilege, "admin" %>
			<%= f.label :privilege, "Dessinateur/administrateur", :value => "admin" %>
		</div>
	<% end %>

	<%= f.submit class: "btn btn-primary" %>
<% end %>
