<div class="page-header">
  Tous les dessinateurs
</div>

<ul id="all-users">
  <% @users.each do |user| %>
	  <li>
		  <a href="<%= user.id %>">
			  <span class="user-first-name"><%= user.firstname %></span>
			  <span class="user-last-name"><%= user.lastname %></span>
		  </a>
	  </li>
  <% end %>

</ul>
