<div class="page-header">
  Créer un nouveau compte dessinateur
</div>

<%= form_for(@user) do |f| %>
	<% if @user.errors.any?  %>
		<div class="alert alert-danger">
			<strong>
				<%= pluralize(@user.errors.count, "erreur") %> empêche(nt) la création du compte:
			</strong>
			<ul>
				<% @user.errors.full_messages.each do |msg|  %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :email, "Mail" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :password, "Mot de passe" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation, "Mot de passe encore" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :firstname, "Prénom" %>
		<%= f.text_field :firstname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :lastname, "Nom de famille" %>
		<%= f.text_field :lastname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :portrait, "Portrait" %>
		<%= f.file_field :avatar %>
	</div>
	<div class="form-group">
		<%= f.label :privilege, "Type de dessinateur : " %><br />
		<%= f.radio_button :privilege, "normal", :checked => true %>
		<%= f.label :privilege, "Dessinateur", :value => "normal" %>
		<%= f.radio_button :privilege, "admin" %>
		<%= f.label :privilege, "Dessinateur/administrateur", :value => "admin" %>

	</div>

	<%= f.submit class: "btn btn-primary" %>
<% end %>
