<div class="page-header">
	<span class="firstname"><%= @showUser.firstname %></span>
	<span class="lastname"><%= @showUser.lastname %></span>
</div>

<%= image_tag @showUser.avatar.url(:medium) %>
<div class="user">
  The user

</div>

<ul class="portfolio">
	<% @showUser.drawings.each do |d|  %>
		<li>
			<a href="/drawings/<%= d.id %>">
				<%= image_tag d.picture.url(:thumb) %>
				<span class="thumb-title"><%= d.title %></span>
			</a>
			<% if d.month %>
			<a href="/months/<%= d.month %>" class="thumb-date">
				Le dix <%=  d.month[:startdate].strftime("%B, %Y") %>
			</a>
			<% end %>
		</li>
	<% end %>
</ul>
